---
layout: default
title: Home
js: /js/nav.js
---

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="column one-whole large-two-fifths">
                <img class="logo" src="{{ '/img/2013-logo-big.svg' | prepend: site.baseurl }}" alt="Rand Seay Logo">
            </div><!-- /.column -->

            <nav class="home-nav column one-whole large-three-fifths">
                <div class="row">
                    <div class="column one-whole small-one-half medium-one-fourth">
                        <a href="{{ site.baseurl }}/cases" class="button small filled secondary radius">
                            <i class="fa fa-briefcase"></i> <br>Work
                        </a>
                    </div><!-- /.column -->

                    <div class="column one-whole small-one-half medium-one-fourth">
                        <a href="{{ site.baseurl }}/about" class="button small filled secondary radius">
                            <i class="fa fa-user"></i> <br>About
                        </a>
                    </div><!-- /.column -->

                    <div class="column one-whole small-one-half medium-one-fourth">
                        <a href="{{ site.baseurl }}/articles" class="button small filled secondary radius">
                            <i class="fa fa-book"></i> <br>Articles
                        </a>
                    </div><!-- /.column -->

                    <div class="column one-whole small-one-half medium-one-fourth">
                        <a href="{{ site.baseurl }}/contact" class="button small filled secondary radius">
                            <i class="fa fa-phone"></i> <br>Contact
                        </a>
                    </div><!-- /.column -->
                </div><!-- /.row -->
            </nav><!-- /.column -->
        </div><!-- /.row -->

        <hr class='primary'>

        <div class='row'>
            <div class='column one-whole medium-three-fourths'>
                <p class="deck">
                    Welcome to my online portfolio! My name is Rand, and I am a
                    husband, father, designer, and developer. I
                    <a href="{{ '/articles' | prepend: site.baseurl }}">write
                    about</a> design &amp; development,
                    <a href="https://github.com/{{ site.github_username }}">hack
                    on</a> code, and
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                    tweet about</a> my experiences.
                </p>

                <p class="deck">
                    I co-founded <a href="http://skosh.io">Skosh Interactive</a>,
                    but you can also find me working as a front-end developer
                    for the
                    <a href="http://cts.ndus.edu/">North Dakota University System</a>.
                    I built and actively maintain the front-end framework
                    <a href='http://fuselage.skosh.io'>Fuselage</a>.
                </p>
            </div><!-- /.column -->
            <div class='column one-whole medium-one-fourth'>
                <img class="headshot drop-shadow" src="{{ '/img/rand-headshot7a.jpg' | prepend: site.baseurl }}" alt="Headshot of Me">
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.hero -->

<section class="process">
    <div class="container">
        <div class="row">
            <div class="column one-whole">
                <h1><i class="fa fa-sitemap"></i> Process</h1>

                <hr class="mini">

                <p class="drop-cap">
                    <span class="initial-phrase">Utilizing a creative and development process</span> is a great
                    idea. It maximizes efficiency and provides a strong
                    framework in which to create precise solutions for a
                    multitude of challenges &mdash;both visual and technical.
                    In a world full of sloppy work, it pays to have a tried and
                    true course of action.
                </p>
            </div><!-- /.column -->
        </div><!-- /.row -->

        <div class="process-icons row">
            <div class="column one-half medium-one-fourth">
                <img src="{{ '/img/process/process1.svg' | prepend: site.baseurl }}" alt="Magnifying Glass Illustration">

                <h4>Research &amp; Define</h4>
            </div><!-- /.column -->

            <div class="column one-half medium-one-fourth">
                <img src="{{ '/img/process/process2.svg' | prepend: site.baseurl }}" alt="Lightbulb Illustration">

                <h4>Brainstorm &amp; Strategize</h4>
            </div><!-- /.column -->

            <div class="column one-half medium-one-fourth">
                <img src="{{ '/img/process/process3.svg' | prepend: site.baseurl }}" alt="Wrench Illustration">

                <h4>Construct &amp; Polish</h4>
            </div><!-- /.column -->

            <div class="column one-half medium-one-fourth">
                <img src="{{ '/img/process/process4.svg' | prepend: site.baseurl }}" alt="Rocket Illustration">

                <h4>Deploy &amp; Assess</h4>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.process -->

<section class="cases">
    <div class="container">
        <div class="row">
            <div class="column one-whole">
                <h1><i class="fa fa-briefcase"></i> Case Studies</h1>

                <hr class="mini secondary">
            </div><!-- /.column -->
        </div><!-- /.row -->

        {% include list-cases.html limit=2 %}

        <hr>

        <a href="{{ site.baseurl }}/cases" class="button secondary radius">View more case studies <i class="fa fa-angle-double-right"></i></a>
    </div><!-- /.container -->
</section><!-- /.cases -->

<section class="articles">
    <div class="container">
        <div class="row">
            <div class="column one-whole">
                <h1><i class='fa fa-book'></i> Articles</h1>

                <hr class="mini secondary">
            </div><!-- /.column -->
        </div><!-- /.row -->

        {% include list-articles.html limit=2 %}

        <hr>

        <a href="{{ site.baseurl }}/articles" class="button secondary radius">View more articles <i class="fa fa-angle-double-right"></i></a>
    </div><!-- /.container -->
</section><!-- /.articles -->
