@charset "utf-8";
@import "functions";
@import "normalize";
@import "reset";
@import "ratios";
@import "defaults";
@import "../settings";
@import "mixins";

// Forms with React post
.form-example form {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit / 2;

    input[type='submit'] {
        margin-bottom: 0;
    }
}

