@charset "utf-8";
@import "functions";
@import "normalize";
@import "reset";
@import "ratios";
@import "defaults";
@import "../settings";
@import "mixins";

// Forms with React post
.form-example form {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit / 2;

    input[type='submit'] {
        clear: both;
        float: left;
        margin-bottom: 0;
    }
}

a.repeat-control {
    cursor: pointer;
    float: right;

    &:nth-child(n+2) {
        margin-right: $spacing-unit / 2;
    }
}

fieldset fieldset {
    margin-bottom: $spacing-unit;
}
