<footer class="site-footer">
    <div class="container">
        <p class="footer-info">
            &copy;2015 Rand Seay |
            <a href="{{ '/feed.xml' | site.baseurl }}">
                <i class='fa fa-rss-square'></i>
            </a>
            {% if site.github_username %}
            <a class="icon github" href="https://github.com/{{ site.github_username }}">
                <i class='fa fa-github'></i>
            </a>
            {% endif %}
            {% if site.twitter_username %}
            <a class="icon twitter" href="https://twitter.com/{{ site.twitter_username }}">
                <i class='fa fa-twitter'></i>
            </a> |
            {% endif %}
            <a href="mailto:{{ site.email }}">
                {{ site.email }}
            </a>
        </p>
    </div><!-- /.container -->
</footer>
