<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.categories %}
        <meta property="og:type" content="article">
        <meta property="og:article:author" content="https://www.facebook.com/randseay">

        {% if page.date %}
            <meta property="og:article:published_time" content="{{ page.date }}">
        {% endif %}
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}

    {% if page.title != "Home" %}
        <title>{{ page.title }} | Rand Seay</title>
        <meta property="og:title" content="{{ page.title }}">
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <title>{{ site.title }}</title>
        <meta property="og:title" content="{{ site.title }}">
        <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}

    {% if page.deck %}
        <meta property="og:description" content="{{ page.deck }}">
        <meta name="description" content="{{ page.deck }}">
        <meta name="twitter:description" content="{{ page.deck }}">
    {% else %}
        <meta property="og:description" content="{{ site.description }}">
        <meta name="description" content="{{ site.description }}">
        <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    <meta name="twitter:widgets:link-color" content="#C94534">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">

    {% if page.twitter.card %}
        <meta name="twitter:card" content="{{ page.twitter.card }}">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}

    {% if page.image == "imgclass" %}
        <meta property="og:image" content="{{ site.url}}/img/backgrounds/bg-{{ page.imgclass }}.jpg">
        <meta name="twitter:image" content="{{ site.url}}/img/backgrounds/bg-{{ page.imgclass }}.jpg">
    {% elsif page.image %}
        <meta property="og:image" content="{{ site.url}}{{ page.image }}">
        <meta name="twitter:image" content="{{ site.url}}{{ page.image }}">
    {% else %}
        <meta name="og:image" content="{{ site.url }}{{ '/img/logo-symbol.jpg' }}">
        <meta name="twitter:image" content="{{ site.url }}{{ '/img/logo-symbol.jpg' }}">
    {% endif %}

    <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="shortcut icon" href="{{ '/img/favicons/favicon.ico' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/img/favicons/apple-icon-57x57.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/img/favicons/apple-icon-60x60.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/img/favicons/apple-icon-72x72.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/img/favicons/apple-icon-76x76.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/img/favicons/apple-icon-114x114.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/img/favicons/apple-icon-120x120.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/img/favicons/apple-icon-144x144.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/img/favicons/apple-icon-152x152.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/favicons/apple-icon-180x180.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ '/img/favicons/android-icon-192x192.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicons/favicon-32x32.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/img/favicons/favicon-96x96.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicons/favicon-16x16.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ '/ms-icon-144x144.png' | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    {% for css in page.css %}
        <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
    {% endfor %}
    <link rel="stylesheet" href="{{ '/css/main.min.css' | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
