<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title != "Home" %}{{ page.title }} | Rand Seay{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" href="{{ /img/favicon.ico | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.min.css' | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
