<div class="hero">
    <div class="container">
        <div class="row">
            <div class="one-whole medium-one-half column">
                <h1>I get fixated on things... In a good way</h1>
                <a href="{{ '/work' | prepend: site.baseurl }}" class="button primary">View my Work</a>
                <a href="{{ '/contact' | prepend: site.baseurl }}" class="button tiny info">Get in Touch</a>
            </div><!-- /.column -->
            <div class="one-whole medium-one-half column">
                <img src="{{ '/img/2013-logo-big.svg' | prepend: site.baseurl }}" alt="Fuselage Drawing">
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.hero -->
