<!--
    In the include statement, pass the post limit in as a 'limit' parameter
    i.e.
        include list-articles.html limit=3
-->


<div class="row">
    <div class="column one-whole post-list">
        {% for post in site.categories.blog limit:include.limit %}
            {% if post.title != page.title %}
                <div class="post-preview">
                    <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
                    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    {{ post.excerpt | remove: '</p>' }}
                    &hellip; <a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
                </div>
            {% endif %}
        {% endfor %}
    </div><!-- /.column -->
</div><!-- /.row -->
