<p class="help-text">
    Try typing <em>work</em>, <em>about</em>, <em>articles</em>,
    <em>contact</em>, or <em>home</em>.

    <label class="button secondary tiny" for="helpTrigger">
        <i class="fa fa-question-circle"></i> Help
    </label>
</p>

<!-- Help Modal
     Add a '<label for="helpTrigger">' to your markup in order to open and close
     this modal. It can also be made into a button if you want. -->
<input id="helpTrigger" class="modal-engine" type="checkbox">

<div id="helpModal" class="modal" role="dialog">
    <div class="modal-bg"></div>

    <div class="modal-inner">
        <h2>How does this work?</h2>

        <p>
            It is possible to navigation this site by typing your desired
            destination into the oversized input field. Here is a list of valid
            keywords.
        </p>

        <div class="row" id="helpList">

        </div><!-- /.row -->

        <label for="helpTrigger" class="modal-close">
            <i class="fa fa-times-circle-o fa-2x"></i>
        </label>
    </div>
</div><!-- /.modal -->
