<aside id="sidebar">
    <p class="deck">
        My name is Rand, and I am a husband, father, designer, and developer.
        I <a href="{{ '/articles' | prepend: site.baseurl }}">write</a> about
        design &amp; development,
        <a href="https://github.com/{{ site.github_username }}">hack on</a>
        code, and <a href="https://twitter.com/{{ site.twitter_username }}">
        tweet</a> about my experiences.
    </p>

    {% if page.categories contains 'case' %}
        <a class="right button extended" href="{{ '/feed.cases.xml' | site.baseurl }}">
            Case Studies via RSS <i class='fa fa-rss'></i>
        </a>
    {% else if page.categories contains 'articles' %}
        <a class="right button extended" href="{{ '/feed.articles.xml' | site.baseurl }}">
            Articles via RSS <i class='fa fa-rss'></i>
        </a>
    {% endif %}

    {% unless page.notwitter %}
        <h2>
            <a href="https://twitter.com/randseay" class="secondary-text">
                <i class="fa fa-twitter"></i>
                Tweets
            </a>
        </h2>

        <a class="twitter-timeline primary-text"
            href="https://twitter.com/randseay"
            data-widget-id="647151935640879104"
            data-chrome="noheader nofooter noborders noscrollbar transparent"
            data-tweet-limit="3">
            <i class='fa fa-circle-o-notch fa-spin'></i> Tweets by @randseay
        </a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endunless %}
</aside>

