<aside id="sidebar">
    <p class="deck">
        My name is Rand, and I am a husband, father, designer, and developer.
        I <a href="{{ '/articles' | prepend: site.baseurl }}">write</a> about
        design &amp; development,
        <a href="https://github.com/{{ site.github_username }}">hack on</a>
        code, and <a href="https://twitter.com/{{ site.twitter_username }}">
        tweet</a> about my experiences.
    </p>

    <a class="call-to-action button radius" href="mailto:{{ site.email }}">
        <i class="fa fa-envelope fa-2x"></i><br> {{ site.email }}
    </a>

    <a class="call-to-action button radius" target="_blank" href="http://www.linkedin.com/in/{{ site.linkedin_username }}">
        <i class="fa fa-linkedin fa-2x"></i><br> @{{ site.linkedin_username }}
    </a>
</aside>
