/**
 * 404 Page
 */

.error-title {
    color: $warn-color;
    font-weight: 100;
    margin-top: $spacing-unit;
}

.error-message {
    background: $white;
    box-shadow: 0 0 20px -5px rgba(153,153,153,0.9);
    margin-bottom: $spacing-unit;
    padding: $spacing-unit;

    .deck {
        margin-bottom: 0;
    }
}
