/**
 * Contact Page
 */
section.contact {
    background: $brand-secondary;
    color: $white;
}

.contact-call-to-action {
    text-align: center;
    width: 100%;

    @include button($white, $text: $brand-primary);

    i.fa {
        margin-bottom: $spacing-unit / 2;
    }
}
