/**
 * Home Page
 */
section.process {
    background: $gray;
    color: $white;

    .drop-cap span.initial-phrase,
    .drop-cap:first-letter {
        color: $white;
    }

    h1 {
        text-align: center;
    }
}

.process-icons {
    margin-top: $spacing-unit;

    .column {
        padding: 0 $spacing-unit;
        text-align: center;

        img,
        svg {
            margin-bottom: $spacing-unit / 2;
            max-width: 100px;
            width: 100%;
        }

        @include mq($medium) {
            p {
                text-align: left;
            }
        }
    }
}

section.cases h1,
section.articles h1 {
    color: $brand-secondary;
    text-align: center;
}
