/**
 * Base
 */
body {
    background: url('../img/stripe-bg2.png') fixed;
}

.drop-shadow {
    box-shadow: 0 0 20px -5px rgba(153,153,153,0.9);
}

section {
    padding: ($spacing-unit * 2) 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 $spacing-unit / 2;

    @include clearfix;
}

hr {
    border-bottom: 1px solid $gray-tint;
    border-top: none;
}

/**
 * Icons
 */
.icon {

    &:hover {
        border-bottom: none;
    }

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $gray;
        }
    }
}
