/**
 * Base
 */
body {
    background: url('../img/stripe-bg2.png') fixed;
}

section {
    padding: ($spacing-unit * 2) 0;

    &:first-child {
        padding-top: $spacing-unit;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 $spacing-unit / 2;

    @include clearfix;
}

hr {
    border-bottom: 1px solid $gray-tint;
    border-top: none;
}

p a:visited,
h3 a:visited {
    color: $brand-primary;

    &:hover {
        border-bottom: $brand-primary;
    }
}

/**
 * Icons
 */
.icon {

    &:hover {
        border-bottom: none;
    }

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $gray;
        }
    }
}
