/**
 * Base
 */

body {
    background: url('../img/stripe-bg2.png') fixed;
}

.drop-shadow {
    box-shadow: 0 0 20px -5px rgba(153,153,153,0.9);
}

section:not(.post) {
    padding: ($spacing-unit * 3.5) 0;
}

.container {
    margin: 0 auto;
    max-width: 1050px;
    padding: 0 $spacing-unit / 2;

    @include clearfix;
}

hr {
    border-bottom: 1px solid $gray-tint;
    border-top: none;
}

/**
 * Icons
 */
.icon {

    &:hover {
        border-bottom: none;
    }

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $gray;
        }
    }
}

/**
 * Typography
 */
code, pre, kbd {
    font-size: 1.45rem;
}

.lead-in {
    margin-top: $spacing-unit * 2;

    &.deck::first-letter {
        font-size: modular-scale(5);
        display: block;
        float: left;
        position: relative;
        line-height: .1;
        top: -0.200em;
    }
}

/**
 * Helpers
 */
.lock-position {
    overflow: hidden;
}

.twitter-share-button {
    margin-bottom: $spacing-unit;
}

hr.mini {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}
