/**
 * Forms
 */

.input-form {
    input {
        border: 0;
        border-radius: $border-radius;
        box-shadow: 0 0 20px -5px rgba(153,153,153,0.9);
        color: $brand-primary;
        line-height: initial;

        &:focus {
            border: 0;
        }
    }
}
