/**
 * Site header
 */
.site-header {
    background: $white;
    border-bottom: 1px solid $gray-tint;
    box-shadow: 0 0 20px -5px rgba(153,153,153,0.9);
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;

    .container {
        position: relative;
    }
}

.site-title {
    color: $brand-primary;
    float: left;
    font-size: modular-scale(3);
    line-height: 60px;
    margin-bottom: 0;
    position: relative;
    z-index: 101;

    img {
        max-height: 40px;
    }
}

#menu-icon {
    position: relative;
    z-index: 101;

    li {
        display: block;
        float: right;
        width: 30px;
        height: 33px;
        line-height: 0;
        padding-top: 20px;
        text-align: center;

        svg {
            cursor: pointer;
            height: 22px;
            width: 27px;

            path {
                fill: $brand-secondary;
            }

            .menu-first-bar,
            .menu-third-bar {
                transition-duration: 0.15s;
                transform-origin: 50% 50%;
            }

            .menu-second-bar {
                transition-delay: 0.15s;
                transition-duration: 0.15s;
                transition-property: opacity;
            }

            &.is-active {
                .menu-first-bar,
                .menu-third-bar {
                    transition-delay: 0.15s;
                }

                .menu-first-bar {
                    transform: translateY(6px) rotate(45deg);
                    -webkit-transform: translateY(6px) rotate(45deg);
                }

                .menu-second-bar {
                    opacity: 0;
                    transition-duration: 0s;
                }

                .menu-third-bar {
                    transform: translateY(-6px) rotate(-45deg);
                    -webkit-transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
    }

    @include mq($medium) {
        display: none;
    }
}

.site-nav {
    background: rgba(230,230,230,0.9);
    bottom: 0;
    position: fixed;
    left: 0;
    list-style: none;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition-property: display transform;
    transition-duration: 0.25s;
    z-index: 1;

    &.is-visible {
        height: 100%;
        opacity: 1;
        padding-top: 25%;
        top: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        transition-duration: 0.25s;

        li {
            display: block;
            font-size: modular-scale(3);
            list-style: none;
            padding: $spacing-unit / 3;
            text-align: center;
        }
    }

    @include mq($medium) {
        background: none;
        height: auto;
        width: auto;
        left: auto;
        position: absolute;
        right: $spacing-unit / 2;
        text-align: right;
        top: 35px;

        li {
            display: inline-block;
            float: right;
            margin-left: $spacing-unit / 2;
        }
    }
}
