/**
 * Hero
 */
.hero {
    margin-top: $spacing-unit;
    padding: $spacing-unit 0;

    img {
        margin-top: $spacing-unit;
        width: 100%;
    }

    .button {
        margin-bottom: 0;
    }
}

.headline {
    color: lighten($gray, 35%);
}
