/*
 * Project-specific Mixins
 */

@mixin bg-images(
    $image-name: "../img/backgrounds/bg-macbook.jpg",
    $overlay-opacity: 0.85,
    $position: center -200px,
    $main: false) {

    $image-path: "../img/backgrounds/bg-" + $image-name + ".jpg";
    @if $main == true {
        animation: bgFadeIn 1s ease-in both;
    }
    position: relative;

    &:before {
        background:
            linear-gradient(
              rgba(255, 255, 255, $overlay-opacity),
              rgba(255, 255, 255, $overlay-opacity)
            ),
            url($image-path);
        background-color: $gray-tint;
        background-attachment: fixed;
        background-position: $position;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: ' ';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    @keyframes bgFadeIn {
        0% { background-color: rgba(255, 255, 255, 1); }
        100% { background-color: rgba(255, 255, 255, 0); }
    }
}

@mixin bgs() {
    @include bg-images($image-name: "macbook", $main: true);
    &.art {@include bg-images($image-name: "art", $position: center -150px);}
    &.acig {@include bg-images($image-name: "acig", $position: center -250px);}
    &.bible {@include bg-images($image-name: "bible");}
    &.camera {@include bg-images($image-name: "camera", $position: center -125px);}
    &.church {@include bg-images($image-name: "church", $position: center -135px);}
    &.contact {@include bg-images($image-name: "contact", $overlay-opacity: 0.9);}
    &.cross {@include bg-images($image-name: "cross", $position: center -125px);}
    &.exhibition {@include bg-images($image-name: "exhibition", $overlay-opacity: 0.92, $position: center -225px);}
    &.facts {@include bg-images($image-name: "facts", $overlay-opacity: 0.92, $position: center -300px);}
    &.gallop {@include bg-images($image-name: "gallop", $position: center -275px);}
    &.grunt {@include bg-images($image-name: "grunt");}
    &.illustrator {@include bg-images($image-name: "illustrator");}
    &.intramurals {@include bg-images($image-name: "intramurals", $position: center -250px);}
    &.literary {@include bg-images($image-name: "literary", $position: center -250px);}
    &.notebook {@include bg-images($image-name: "notebook");}
    &.money {@include bg-images($image-name: "money", $position: center -100px);}
    &.proctoring {@include bg-images($image-name: "proctoring", $position: center -60px);}
    &.react {@include bg-images($image-name: "react");}
    &.sass {@include bg-images($image-name: "sass", $overlay-opacity: 0.9);}
    &.sheep {@include bg-images($image-name: "sheep");}
    &.svg {@include bg-images($image-name: "svg");}
    &.tablet {@include bg-images($image-name: "tablet");}
    &.und-type {@include bg-images($image-name: "und-type", $overlay-opacity: 0.9);}
    &.wheat {@include bg-images($image-name: "wheat", $overlay-opacity: 0.9, $position: center -300px);}
    &.wonder {@include bg-images($image-name: "wonder", $overlay-opacity: 0.75, $position: center -150px);}
    &.woodworking {@include bg-images($image-name: "woodworking", $overlay-opacity: 0.8, $position: center -350px);}
}
