/*
 * Project-specific Mixins
 */

@mixin bg-images(
    $image-name: "../img/backgrounds/bg-macbook.jpg",
    $overlay-opacity: 0.85,
    $overlay-rgba: rgba(255, 255, 255, $overlay-opacity),
    $main: false) {

    $image-path: "../img/backgrounds/bg-" + $image-name + ".jpg";
    @if $main == true {
        animation: bgFadeIn 1s ease-in both;
    }
    background: linear-gradient(
              $overlay-rgba,
              $overlay-rgba
            );
    position: relative;

    &:before {
        background: url($image-path);
        background-color: $gray-tint;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: ' ';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    @keyframes bgFadeIn {
        0% { background-color: rgba(255, 255, 255, 1); }
        100% { background-color: rgba(255, 255, 255, 0); }
    }
}

@mixin bgs() {
    @include bg-images($image-name: "macbook", $main: true);
    &.art {@include bg-images($image-name: "art");}
    &.acig {@include bg-images($image-name: "acig");}
    &.bible {@include bg-images($image-name: "bible");}
    &.bigbackyard {@include bg-images($image-name: "bigbackyard");}
    &.camera {@include bg-images($image-name: "camera");}
    &.church {@include bg-images($image-name: "church");}
    &.contact {@include bg-images($image-name: "contact", $overlay-opacity: 0.9);}
    &.cross {@include bg-images($image-name: "cross");}
    &.exhibition {@include bg-images($image-name: "exhibition", $overlay-opacity: 0.92);}
    &.facts {@include bg-images($image-name: "facts", $overlay-opacity: 0.92);}
    &.fuselage {@include bg-images($image-name: "fuselage", $overlay-opacity: 0.92);}
    &.gallop {@include bg-images($image-name: "gallop");}
    &.grunt {@include bg-images($image-name: "grunt");}
    &.illustrator {@include bg-images($image-name: "illustrator");}
    &.intramurals {@include bg-images($image-name: "intramurals");}
    &.literary {@include bg-images($image-name: "literary");}
    &.notebook {@include bg-images($image-name: "notebook");}
    &.money {@include bg-images($image-name: "money");}
    &.proctoring {@include bg-images($image-name: "proctoring");}
    &.react {@include bg-images($image-name: "react");}
    &.sass {@include bg-images($image-name: "sass", $overlay-opacity: 0.9);}
    &.sheep {@include bg-images($image-name: "sheep");}
    &.svg {@include bg-images($image-name: "svg");}
    &.sketch {@include bg-images($image-name: "sketch");}
    &.tablet {@include bg-images($image-name: "tablet");}
    &.und-type {@include bg-images($image-name: "und-type", $overlay-opacity: 0.9);}
    &.wheat {@include bg-images($image-name: "wheat", $overlay-opacity: 0.9);}
    &.wonder {@include bg-images($image-name: "wonder", $overlay-opacity: 0.75);}
    &.woodworking {@include bg-images($image-name: "woodworking", $overlay-opacity: 0.8);}
}
