/**
 * Posts
 */
.post-header h1 {
    color: $brand-secondary;
}

.post-content {
    background: $white;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit 0;

    p a.button {
        margin-bottom: 0;
    }
}

.post-meta {
    font-size: modular-scale(1) * 1.25;
    color: $gray;
}
