---
layout: default
---
{% assign category = site.new_array %}
{% assign path = "" %}
{% assign prev_page = "" %}

{% if page.categories contains "blog" %}
    {% assign category = site.categories.blog %}
    {% assign category_path = "/articles" %}
    {% assign prev_page = "Articles" %}
{% elsif page.categories contains "case" %}
    {% assign category = site.categories.case %}
    {% assign category_path = "/cases" %}
    {% assign prev_page = "Case Studies" %}
{% endif %}

<section class="post">
    <header class="post-header {% if page.imgclass %}{{ page.imgclass }}{% endif %}">
        <div class="container">
            <h4><a href='{{ category_path | prepend: site.baseurl }}'><i class='fa fa-arrow-circle-o-left'></i> Back to {{ prev_page }}</a></h4>
            <h1>{{ page.title }}</h1>

            <p class="byline">
                <small>
                    <i class="fa fa-calendar-o"></i>
                    {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %}{{ page.meta }}{% endif %}
                    {% if page.tags %}
                        in
                        {% for tag in page.tags %}
                            <a class="button tiny radius inline" href="{{ site.baseurl }}{{ category_path }}/{{ tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                    • {{ page.content | number_of_words | divided_by: 180 }} minute read
                </small><br>
                {% if page.author %}By {{ page.author }}{% endif %}
            </p>
        </div><!-- /.container -->
    </header>


    <article class="post-content">
        <div class="container">
            <div class="row">
                <div class="column one-whole medium-three-fourths">
                    {{% if page.deck %}}
                        <p class="deck lead-in">
                            {{ page.deck }}
                        </p>

                        <hr class="primary">
                    {{% endif %}}

                    {{ content }}

                    {% unless page.noshare %}
                        <div class="share">
                            <a href="https://twitter.com/share" class="twitter-share-button primary-text" data-via="randseay" data-size="large" data-related="randseay">
                                <i class='fa fa-circle-o-notch fa-spin'></i> Tweet
                            </a>
                        </div>
                    {% endunless %}

                    {% if page.categories contains 'case' %}
                        {% include prev-next-cases.html%}
                    {% endif %}

                    {% if page.categories contains 'blog' %}
                        {% include prev-next-articles.html %}
                    {% endif %}

                    {% include comments.html %}
                </div><!-- /.column -->

                <div class="column one-whole medium-one-fourth">
                    {% include sidebar.html %}
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </article>
</section><!-- /.post -->
