---
layout: default
---

{% include site-nav-input.html %}

<section class="post">
    <header class="post-header">
        <div class="container">
            <h1>{{ page.title }}</h1>

            <p class="byline">
                <small><i class="fa fa-calendar-o"></i> {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</small><br>
                {% if page.author %}By {{ page.author }}{% endif %}
            </p>
        </div><!-- /.container -->
    </header>


    <article class="post-content">
        <div class="container">
            <div class="row">
                <div class="column one-whole medium-three-fourths">
                    {{% if page.deck %}}
                        <p class="deck">
                            {{ page.deck }}
                        </p>

                        <hr class="primary">
                    {{% endif %}}

                    {{ content }}

                    {% unless page.noshare %}
                        <div class="share">
                            <a href="https://twitter.com/share" class="twitter-share-button primary-text" data-via="randseay" data-size="large" data-related="randseay">
                                <i class='fa fa-circle-o-notch fa-spin'></i> Tweet
                            </a>
                        </div>
                    {% endunless %}

                    {% if page.categories contains 'case' %}
                        {% include prev-next-cases.html%}
                    {% endif %}

                    {% if page.categories contains 'blog' %}
                        {% include prev-next-articles.html %}
                    {% endif %}

                    {% include comments.html %}
                </div><!-- /.column -->

                <div class="column one-whole medium-one-fourth">
                    {% include sidebar.html %}
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </article>
</section><!-- /.post -->
