---
imgclass: exhibition
layout: page
title: Case Studies
nav_order: 3
---

<div class='page-header {{ page.imgclass }}'>
    <div class="container">
        <h1 class="page-title">
            <i class="fa fa-briefcase"></i>&nbsp;{{ page.title }}
        </h1>

        <hr>

        <p class="deck">
            I stay very busy with a wide array of projects &mdash;some of which I am
            unable to showcase due to proprietary reasons. Enjoy!
        </p>

        <a class="right button tiny" href="{{ '/feed.cases.xml' | site.baseurl }}">
            Subscribe via RSS <i class='fa fa-rss'></i>
        </a>

        <h2>Types</h2>
        {% include list-tags.html category="case" %}
    </div><!-- /.container -->
</div>

<section class="work">
    <div class="container">
        {% include list-cases.html %}
    </div><!-- /.container -->
</section><!-- /.work -->
